* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      background-color:#D6E5FA;
  }
  
  .main-container {
    padding: 0.8rem;
    background-color: #D6E5FA;
  }
  
  /* CARDS */

  .cards {
    display: flex;
    flex-wrap: wrap;
    
  }
  /* CARD BACKGROUNDS */  
  .card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    
    
   
  }
   
.room{
    display: flex;
    align-items: center; 
   justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.2s;
    font-weight: 200;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    /* background: radial-gradient(#f588d8, #BAABDA); */
    background-color: #f8f0fd;
}
.room:hover, .darkroom:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}
.darkroom{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:gray;
  color: rgba(0, 0, 0, 0.25);
  font-weight: 100;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
}

.bed{  
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-around;
    margin-left: 0.8rem;
    padding-right: 1.5rem;
    padding-left: 0rem;
    border-right: 1px solid black;  
}
.pen{
  margin-left:1.3rem;
  cursor: pointer;
  font: 1em sans-serif;
  font-size: 1.3rem;
  padding: 0.1rem;
  border: 0.2px groove gray;
  border-radius: 50%;
  
}
.bed1{  
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
    margin-left: 0.8rem;
    padding-right: 1.5rem;
    padding-left: 0rem;
    border-right: 1px solid black;
    
}
.bedImg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.4rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  background-color:#e6e6fd;
  border-radius: 50%;
}
.editButton{
  cursor: pointer;

}
.bedlast{
    margin: 1rem;
    padding: 5px;
}
.servericon{
  height: 1.5rem;
  width: 1.5rem;
}
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
  @media screen and (max-width: 768px) {
    .main-container{
      font-size: 0.6rem;
      display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 100;
  justify-content: space-between;
  
    }
  }
  