*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.main-body{
  display: flex;

}
.leftChild{
  height: 100vh;
  width: 20%;
  background-color: red;
}
.middleChild{
  height:100vh;
  width: 60%;
  background-color: gold;
}
.rightChild{
  height: 100vh;
  width: 20%;
  background-color: yellow;
}